<h2>About Me</h2>
  <p>
    <img src="{{ site.author.gravatar }}"
		     alt="{{ site.author.name }}"
				 title="Like what you see? Drop me a line!"
				 class="img-rounded floatLeft" />
      I'm an electrical engineer that's bent on solving problems and technical computing.  Some of my technical
			interests are, in no particular order, Matlab/Octave, Simulink/RealTimeWorkshop, C, R, Java, Python, PERL,
			Microcontrollers, Stackoverflow.com, Digital/Analog Signal Processing, Control Algorithm design, and
			Quantitative Finance.
  </p>					

  <p>
    <h6>macduff.github.com</h6> <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user={{ site.author.github }}&repo={{ site.author.github }}.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user={{ site.author.github }}&repo={{ site.author.github }}.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
  </p>

  <p>
    <ul class="buttons unstyled">
        <li><a href="https://github.com/{{ site.author.github }}" rel="me" class="social github" title="Go to github.com/{{ site.author.github }}" target="_blank"></a></li>
        <li><a href="https://github.com/{{ site.author.github }}/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for {{ site.author.name  }}"  target="_blank"></a></li>				
  </ul>
</p>

